@{
    ViewData["Title"] = "Canvas Lines";
}

@section Styles {
    <link rel="stylesheet" href="~/css/canvas_lines.css" />
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="canvas_lines.css">
    <title>Canvas lines</title>
</head>
<body>
    <main>
        <div>
            <h3>
                This is a 200 x 400 canvas.
            </h3>
            <canvas class="canvasLines" id="canvas1">
            </canvas>
        </div>
        <div>
            <h3>
                This is a 400 x 600 canvas.
            </h3>
            <canvas class="canvasLines" id="canvas2">
            </canvas>
        </div>
        <div class="fixed">
            <h3>
                This is a 500 x 500 canvas.
            </h3>
            <canvas class="canvasLines" id="canvas3">
            </canvas>
        </div>
        <p>
            <strong>Space isn't completely silent</strong><br>
            Space is a vacuum and sound waves can't travel through it in the same way they do on Earth,
            meaning you wouldn't be able to hear anything in space.
            But space isn't entirely silent.
            Electromagnetic vibrations, like plasma waves or magnetic
            field interactions, can be translated into sound by instruments.
            NASA has even 'sonified' data from stars, black holes and nebulae, turning invisible cosmic
            phenomena into eerie soundtracks.
            You can hear what this sounds like in the video above.
            <br><br>
            <strong>The Moon is lemon-shaped</strong><br>
            Despite its appearance in the night sky, our natural satellite is nowhere near round.
            In fact, the Moon is shaped like a lemon, with flattened poles and bulges on both the
            near and far side around its equator.
            This strange shape is thought to have been created during interactions with Earth
            soon after its formation.
            <br><br>
            <strong>Way smells of rum, raspberries and booze</strong> <br>
            In 2009, astronomers exploring a giant cloud of gas and dust at the centre of
            the Milky Way made a surprise discovery.
            The cloud was packed full of a chemical known as ethyl formate, which has a couple
            of intriguing properties.
            It is responsible for giving raspberries their flavour, and has the smell of rum.
            Another nearby region is full of ethyl alcohol, or ethanol, the type we use to make 
            alcoholic beverages.
            It contains enough alcohol to supply everyone on Earth with 300,000 pints of beer per 
            day for a billion years!
            If bottled at source, the proof for this beer would be low, with an alcohol content of less than 1%.
            But as the cloud also contains plenty of other nasty chemicals, among them carbon monoxide and hydrogen cyanide, it would still leave you with quite a headache the next morning.
            <br><br>
            <strong>On Mercury a day is twice as long as a year</strong><br>
            Technically, one Mercurian day lasts 59 Earth days, while a year lasts 88.
            However, due to Mercury's very eccentric orbit and alignment with the Sun, the length of time 
            from sunrise to sunrise, known as a "solar day", is equal to 176 Earth days — twice as long as a Mercurian year.
        </p>
    </main>

    <script src="canvas_lines.js"></script>
</body>
</html>